html, body {
	margin: 0;
	padding: 0;
	font-family: $font;
	background-color: $bg;
	font-size: 20px;
	box-sizing: border-box;
}

h1 {
	color: $heading-color;
	margin: 1rem auto;
	text-align: center;
	font-family: $heading-font;
	font-style: italic;
	font-size: 4rem;
	box-shadow: 2px 2px 0 0 $bg, 4px 4px 0 0 $shadow;
}

.main {
	max-width: 960px;
	margin: 0 auto;

	p {
		padding: 1rem;
		color: $text-color;
	}

	aside {
		float: right;
		width: 33%;
		margin: 0em 1rem 1rem 1rem;
		position: relative;

		h2 {
			color: $heading-color;
			padding-left: 0.66rem;
			font-family: $heading-font;
		}

		img {
			position: absolute;
			top: 0;
			left: 60px;
			width: 100px;
			filter: invert(.5);
		}
	}
}