// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
  border-bottom: 1px solid $mid-grey;
  padding: 0;
  text-align: center;
}