@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700|Open+Sans:400,400italic,700,700italic);
html, body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #AE501D;
  font-size: 20px;
  box-sizing: border-box; }

h1 {
  color: #FF8442;
  margin: 1rem auto;
  text-align: center;
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  font-size: 5rem;
  box-shadow: 2px 2px 0 0 #AE501D, 3px 3px 0 0 rgba(0, 0, 0, 0.2); }

.main {
  max-width: 960px;
  margin: 0 auto; }
  .main p {
    padding: 1rem;
    color: #eeaf30; }
  .main aside {
    background: rgba(0, 0, 0, 0.2);
    float: right;
    width: 33%;
    margin: 0em 1rem 1rem 1rem;
    position: relative; }
    .main aside h2 {
      color: #FF8462;
      padding-left: 0.66rem;
      font-family: "Libre Baskerville", serif; }
    .main aside img {
      position: absolute;
      top: 0;
      left: 60px;
      width: 100px;
      -webkit-transform: translate(0, -100%);
              transform: translate(0, -100%);
      -webkit-filter: invert(1);
              filter: invert(1); }
