@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700|Open+Sans:400,400italic,700,700italic);
html, body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
  font-size: 20px;
  box-sizing: border-box; }

h1 {
  color: #ACCFCC;
  margin: 1rem auto;
  text-align: center;
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  font-size: 4rem;
  box-shadow: 2px 2px 0 0 #ffffff, 4px 4px 0 0 #B8AE9C; }

.main {
  max-width: 960px;
  margin: 0 auto; }
  .main p {
    padding: 1rem;
    color: #595241; }
  .main aside {
    float: right;
    width: 33%;
    margin: 0em 1rem 1rem 1rem;
    position: relative; }
    .main aside h2 {
      color: #ACCFCC;
      padding-left: 0.66rem;
      font-family: "Libre Baskerville", serif; }
    .main aside img {
      position: absolute;
      top: 0;
      left: 60px;
      width: 100px;
      -webkit-filter: invert(0.5);
              filter: invert(0.5); }
