// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

// $Global Styles
// -------------------------------------//

html {
  box-sizing: border-box;
  font: $base-font-weight #{$base-font-size + "%"}/#{$base-line-height} $base-font-family;
}

*, *::before, *::after {
  box-sizing: inherit;
} 

body {

}

/* body::after {
  content: "";
  background: url($img-url + 'subtle_grunge.png');
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
} */

/**
 * Basic styles for links
 */
a {
  color: $brand-color;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: underline;
  }
}
