/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font-weight: $base-font-weight;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family: $text-font-stack;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $brand-color;
  font-family: $heading-font-stack;
  font-style: italic;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
  margin: $spacing-unit 0;
  padding: 0;
}

h1 {
  font-size: $h1-font-size;
  text-shadow: 2px 2px 0 $bg-color, 3px 3px 0 $mid-grey;
}
h2 {
  font-size: $h2-font-size;
}
h3 {
  margin-top: $h2-font-size;
  font-size: $h3-font-size;
}